@use '../../../../styles/01-tools/mixins' as *;
@use '../../../../styles/00-settings/variables' as *;

:host {
  display: block;
  width: 100%;
  max-width: 40.625rem;
}

.c-register-form {
  &__form {
    @include formulario-base;
  }

  &__fieldset {
    @include formulario-fieldset;
  }

  &__legend {
    @include oculto-accesible;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--espaciado-2);

    @include responder-a('tablet') {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__error {
    @include formulario-error;
  }

  &__actions {
    @include formulario-acciones;
  }

  &__footer {
    @include formulario-footer;
  }

  &__footer-text {
    @include formulario-footer-text;
  }

  &__link {
    @include formulario-link;

    &--morado {
      color: var(--color-morado-principal);
    }

    &--naranja {
      color: var(--color-naranja-principal);
    }
  }
}
