@use '../../../../styles/01-tools/mixins' as *;
@use '../../../../styles/00-settings/variables' as *;

:host {
  display: block;
  width: 100%;
}

.c-credential-input-group {
  &__container {
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-3);
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--espaciado-3);

    @include responder-a('tablet') {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
